/* Archivo formPresupuesto.css */
#formulario {
  background-color: #a09a9a94;
  border: #c1c2c1 8px outset;
  padding: 20px;
  padding: 3px 10px;
  border: #3f4e3d 5px double;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  max-width: 500px;
  margin: 0 auto;
  margin-right: 1cm;
}

#formulario label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #131212;
  display: block;
}

#formulario input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 16px;
}

#formulario button {
  background-color: #0f3969;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
  border: none;
}

#formulario button:hover {
  background-color: #33b5e5;
}

#formulario .total {
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

#formulario .total label {
  font-weight: normal;
  color: #3a3939;
  display: block;
}

#formulario .total input {
  font-weight: bold;
  border: none;
  background-color: #f7f7f7;
  font-size: 18px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.tamano {
  display: flex;
  margin-left: 2cm;
  margin-right: 1cm;
  align-items: flex-end;
}

/* Para la imagen Chico */
.imagen-container1 {
  text-align: center;
  margin-bottom: 10px; /* Espacio entre los bloques de imágenes */
}

.imagen-container1 img {
  width: 70px; /* Ajusta el tamaño de la imagen Chico */
  height: auto;
  display: block;
  margin-right: 0.5cm;
}

/* Para la imagen Mediano */
.imagen-container2 {
  text-align: center;
  margin-bottom: 5px; /* Espacio entre los bloques de imágenes */
}

.imagen-container2 img {
  width: 100px; /* Ajusta el tamaño de la imagen Mediano */
  height: auto;
  display: block;
}

/* Para la imagen Grande */
.imagen-container3 {
  text-align: center;
  margin-bottom: 5px; /* Espacio entre los bloques de imágenes */
}

.imagen-container3 img {
  width: 130px; /* Ajusta el tamaño de la imagen Grande */
  height: auto;
  display: block;
}

.required::after {
  content: "*"; /* Agrega el asterisco */
  color: red; 
  display: inline; /* Asegura que el asterisco se muestre en línea con el texto */
  margin-left: 3px; /* Ajusta el espacio entre los dos puntos y el asterisco */
}

#peso-contenedor label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #0e0d0d;
  display: block;
}

#peso {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 16px;
}

#peso option{
  color: #797777;
}
#peso option:checked {
  color: #1c0444;
}


.tamanios {
  display: flex;
  justify-content: space-around;
  align-items: flex-start; /* Alinea los elementos verticalmente al principio */
}

.tamano {
  text-align: center;
}

.imagen-container1,
.imagen-container2,
.imagen-container3 {
  margin-bottom: 10px; /* Espacio entre los contenedores de imágenes */
}

.imagen-container img {
  max-width: 100px; /* Ajusta el tamaño máximo de las imágenes según sea necesario */
}

.imagen-container h6 {
  margin-top: 5px; /* Espacio entre la imagen y el texto */
}

.imagen-container input[type="radio"] {
  margin-top: 5px; /* Espacio entre el texto y el radiobutton */
}


 #presupuesto {
  padding: 20px 0;
  background-image: url("https://i.ibb.co/5TynjV7/Lorenzo.jpg"); /* URL directa de la imagen */
  background-repeat: no-repeat;
  background-size: cover; /* La imagen se ajusta para cubrir completamente el contenedor, manteniendo la relación de aspecto */
  background-position: center; /* La imagen se centra dentro del contenedor */
  margin: 0; /* Asegura que no haya margen alrededor del contenedor */
}


 #presupuesto p {
  color: #f5f2f2;
  text-align: left;
  margin-left: 5cm;
  font-size: 2em;
  font-weight: 800;
  text-shadow: 2px 2px 3px #131212de;
 }
 
 #presupuesto h1 {
  margin-bottom: 30px;
  color: #fbfbfc;
  text-align: right;
  font-size: 32px;
  margin-right: 4.5cm;
  text-shadow: 2px 2px 2px #0e0d0d;
 }
 
 #presupuesto .imagen-mascota {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
 }
 
 .mascota img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
 }
 
 #presupuesto .descripcion {
  margin-bottom: 20px;
  text-align: justify;
 }
 
 #presupuesto .descripcion p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
 }
 
 #presupuesto .ventajas {
  list-style: none;
  padding: 0;
  margin-top: 20px;
 }
 
 #presupuesto .ventajas li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 }
 
 #presupuesto .ventajas li i {
  font-size: 20px;
  color: #007bff;
  margin-right: 10px;
 }
 
 #presupuesto .ventajas li p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
 }
 
 #presupuesto .boton-reserva {
  background-color: #052f5c;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
  display: inline-block;
  transition: background-color 0.3s;
  border: none;
 }
 
 #presupuesto .boton-reserva:hover {
  background-color: #33b5e5;
 }
 
