/* Estilos responsive */

/* Escritorio */
@media (min-width: 1024px) {
  /* Estilos para escritorio */


  }

  



  
/* Tablet */
@media (max-width: 1023px) and (min-width: 768px) {
  /* Estilos para tablet */





}






  /* Estilos específicos para dispositivos móviles */
  @media screen and (max-width: 768px) {
  .navbar-toggler {
    display: block;
  }

  .offcanvas {
    width: 80%;
  }

  .offcanvas-body {
    background-color: #333;
    padding: 20px;
  }

  .offcanvas-body a {
    color: #fff;
    display: block;
    margin-bottom: 10px;
  }

  .offcanvas-header button {
    color: #fff;
  }

  .navbar {
    grid-template-columns: auto;
    justify-content: space-between;
  }

  .navbar-nav {
    display: none;
    grid-template-columns: auto;
  }

  .navbar-collapse {
    display: grid;
    gap: 20px;
  }

  .main-content {
    padding: 20px;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    padding: 0 10px;
  }


  #formulario {
    max-width: 100%;
    margin-right: 0;
  }

  .tamano {
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
  }

  .imagen-container1 img,
  .imagen-container2 img,
  .imagen-container3 img {
    width: 50px;
  }

  #presupuesto p {
    margin-left: 1cm;
    font-size: 1.5em;
  }

  #presupuesto h1 {
    margin-right: 1cm;
    font-size: 24px;
  }

}
