#testimonios {
  width: 100%;
  padding: 6%;
  position: relative;
  background-color: #f5eec8;
  overflow: scroll; 
  display: flex;
  justify-content: center;
}

#testimonios .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

#testimonios .carousel {
  display: flex;
  width: 110%;
  position: relative;
}

#testimonios img {
  max-width: 310px;
  height: auto;
  padding: 2px;
  margin-right: 11px;
  margin-left: 11px;
  transition: transform 0.1s ease-in-out;
  border: 1px solid black;
}

#testimonios .carousel img:hover {
  transform: scale(1.6);
}



/* Reglas de medios para dispositivos móviles */
@media only screen and (max-width: 768px) {
  #testimonios {
    padding: 5px 0px;
    width: 95%;
    height: auto;
  }

  #testimonios .carousel {
    display: flex;
    flex-direction: column; /* Cambiar a dirección de columna */
    align-items: center; /* Centrar horizontalmente */
    position: relative;
  }
  #testimonios .carousel img.enlarge {
    transform: scale(1.1);
  }
  #testimonios img {
    width: 100%; /* Ocupa el ancho completo del contenedor */
    height: auto; /* Altura automática para mantener la proporción */
    margin-bottom: 10px; /* Espaciado de 1 cm (equivalente a 10px) entre imágenes */
  }
}